:root {
  --primary: #1A1A1A;
  --secondary: #212121;
  --tertiary: #313131;
  --indicator : #1FA23C;
  --text : #FFFFFF;
  --Fsize-s: 20px;
  --Fsize-m: 40px;
  --Fsize-l: 60px;
}

* {
  padding: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
  font-size: var(--Fsize-s);
  font-family: lexend, sans-serif;
  font-weight: 400;
  text-decoration: none;
  transition: all 1s ease;
}

html, body {
  overflow: hidden;
  background-color: var(--primary);
}


/* Main */
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 30;
}

/* Header */
header {
  padding: 40px;
  display: flex;
  justify-content: end;
  align-items: center;
}

/* Navigation */
nav {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

nav a {
  width: 100px;
  text-align: center;
  cursor: pointer;
  transition: color 0.3s ease;
}

nav div {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  height: 5px;
  width: 100px;
  background-color: var(--indicator);

}


/* container */
.container {
  height: 100%;
  position: relative;
}


/*Container -------------------- */
section {
  padding: 60px;
  position: absolute;
}

section:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0 50% 40px 40px;
  
}

section:nth-child(2) {

  background-image: url();
  background-color: rgba(68, 85, 102, 0.281);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  inset: 0 40px 40px 50%;

}

section:nth-child(3) {
  background-color: var(--secondary);
  inset: 0 calc(-50% + 40px) 40px 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}


/*Container_header -------------------- */
/* Info */
#info-container_header {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 20px;
}



/*Container_Items -------------------- */
/* Projects */
#about-container{
  scale: 0;
  overflow: hidden;
}
/* Projects */
#projects-container_items {
  scale: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* Contacts */
#contacts-container_items {
  scale: 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}



/*Items -------------------- */
/*Projects */
.projects-item {
  height: 280px;
  width: 460px;
  background-color: var(--tertiary);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}


.projects-item:nth-child(1) {
  background-image: url(Web_Files/ss_SurveyForm.jpeg);
}

.projects-item:nth-child(2) {
  background-image: url(Web_Files/ss_TributePage.jpeg);
}
.projects-item:nth-child(3) {
  background-image: url(Web_Files/ss_TechnicalDocument.jpg);
}
.projects-item:nth-child(4) {
  background-image: url(Web_Files/ss_LandingPage.jpeg);
}
.projects-item:nth-child(5) {
  background-image: url(Web_Files/ss_Calculator_basic_1.jpeg);
}
.projects-item:nth-child(6) {
  background-image: url();
}

.projects-item:nth-child(1)::before,
.projects-item:nth-child(2)::before,
.projects-item:nth-child(3)::before,
.projects-item:nth-child(4)::before,
.projects-item:nth-child(5)::before,
.projects-item:nth-child(6)::before {
  content: "";
  position: absolute;
  background-color: var(--tertiary);
  opacity: 0.8;
  inset: 0;
}
.projects-item:nth-child(1)::after,
.projects-item:nth-child(2)::after,
.projects-item:nth-child(3)::after,
.projects-item:nth-child(4)::after,
.projects-item:nth-child(5)::after,
.projects-item:nth-child(6)::after {
  position: absolute;
  font-size: var(--Fsize-s);
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
}
.projects-item:nth-child(1)::after {content: "Bakery Survey Form"; }
.projects-item:nth-child(2)::after {content: "Tribute Page"; }
.projects-item:nth-child(3)::after {content: "Technical Document"; }
.projects-item:nth-child(4)::after {content: "Product Landing Page"; }
.projects-item:nth-child(5)::after {content: "Basic Calculator"; }


/*Contacts */
.contacts-item {
  height: 260px;
  width: 260px;
  padding: 40px;
  display: flex ;
  justify-content: center;
  align-items: center;
  background-color:var(--tertiary);
}


/* texts -------------------- */
/* intro-section */
#intro-section h1 {
  font-size: var(--Fsize-l);
}

#intro-section h2 {
  font-size: var(--Fsize-m);
  color: var(--indicator);
}

#intro-section p {
  font-size: var(--Fsize-s);
  font-family: lekton, sans-serif;
  word-spacing: 10px;
  font-weight: 100;
  margin: 80px 0 40px 0;
}

#intro-section a {
  font-size: var(--Fsize-s);
  color: var(--indicator);
}

/* info-container_header */
#info-container_header h2 {
  font-size: var(--Fsize-m);
  margin-bottom: 20px;
}

/* About */
#about-container h2 {
  margin-bottom: 20px;
  font-size: var(--Fsize-m);
}

#about-container p {
  text-indent: 20px;
  margin-bottom: 20px;
}

/* Projects */
.projects-item h3 {
  font-size: var(--Fsize-s);

}

/* Conbtacts */
.contacts-item h3 {
  font-size: var(--Fsize-s);
  width: 0;
  overflow: hidden;
  margin-left: 0;
}

.contacts-item i {
  font-size: 60px;
}














/* hover effects -------------------- */
/* Projects */
.projects-item:hover { scale: 1.2; }

.projects-item:hover::before { opacity: 0 ; }
.projects-item:hover::after {content: "";}

/* Contacts */
.contacts-item:hover {
  height: 260px;
  width: 480px;
}

.contacts-item:nth-child(1):hover {
  background: linear-gradient(90deg, #1877F2, #014b96);
}

.contacts-item:nth-child(2):hover {
  background: linear-gradient(90deg, #0A66C2, #015379);
}

.contacts-item:nth-child(3):hover {
  background: linear-gradient(90deg, #171515, #000000);
}

.contacts-item:nth-child(4):hover {
  background: linear-gradient(90deg, #02a559, #018f83);
}




.contacts-item:hover h3 {
  width: 100%;
  overflow: hidden;
  margin-left: 40px;
}



/* strip effects -------------------- */
/* strip A */
#strips-container_a1,
#strips-container_a2,
#strips-container_a3,
#strips-container_a4,
#strips-container_a5,
#strips-container_a6 {
  position: absolute;
  fill: #313131;
  filter: drop-shadow(-40px -20px 20px rgba(0, 0, 0, 0.25));
  rotate: -135deg;

}



#strip-item_a1,
#strip-item_a2,
#strip-item_a3,
#strip-item_a4,
#strip-item_a5,
#strip-item_a6 {
  width: 300px;
  height: 1000px;
  clip-path: polygon(0% 0%, 100% 20%, 100% 100%, 0% 100%);
}


#strip-item_a1 { background-color: #414141; }
#strips-container_a1 {
  z-index: 19;
  top: -400px;
  right: 600px;  
  
}

#strip-item_a2 {background-color: #313131; }
#strips-container_a2 {
  z-index: 18;
  top: 200px;
  right: 100px;
}

#strip-item_a3 {background-color: #313131; }
#strips-container_a3 {
  z-index: 17;
  top: -500px;
  right: 300px;
}

#strip-item_a4 {background-color: #212121; }
#strips-container_a4 {
  z-index: 16;
  top: -200px;
  right: -100px;
}

#strip-item_a5 {background-color: #212121; }
#strips-container_a5 {
  z-index: 15;
  top: -300px;
  right: 300px; 
}

#strip-item_a6 {background-color: var(--indicator); }
#strips-container_a6 {
  z-index: 14;
  top: -300px;
  right: 100px;
}

/* strip B */
#strips-container_b1,
#strips-container_b2,
#strips-container_b3,
#strips-container_b4,
#strips-container_b5,
#strips-container_b6 {
  position: absolute;
  fill: #313131;
  filter: drop-shadow(-40px -20px 20px rgba(0, 0, 0, 0.25));

}



#strip-item_b1,
#strip-item_b2,
#strip-item_b3,
#strip-item_b4,
#strip-item_b5,
#strip-item_b6 {
  width: 300px;
  height: 1000px;
  clip-path: polygon(0% 0%, 100% 20%, 100% 100%, 0% 100%);
}


#strip-item_b1 { background-color: #414141; }
#strips-container_b1 {
  z-index: 19;
  bottom: -200vh;
  left: -150px;  
  
}

#strip-item_b2 {background-color: #313131; }
#strips-container_b2 {
  z-index: 18;
  bottom: -200vh;
  left: 400px;
}

#strip-item_b3 {background-color: #313131; }
#strips-container_b3 {
  z-index: 17;
  bottom: -200vh;
  left: 180px;
}

#strip-item_b4 {background-color: #212121; }
#strips-container_b4 {
  z-index: 16;
  bottom: -200vh;
  left: 600px;
}

#strip-item_b5 {background-color: #212121; }
#strips-container_b5 {
  z-index: 15;
  bottom: -200vh;
  left: 150px; 
}

#strip-item_b6 {background-color: var(--indicator); }
#strips-container_b6 {
  z-index: 14;
  bottom: -200vh;
  left: 400px;
}



















